asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==4.2.30
django-active-link==0.3.0
et_xmlfile==2.0.0
gunicorn==26.0.0
idna==3.17
mysqlclient==2.2.8
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
