body { font-family: 'Open Sans', sans-serif; }

@media print {
    .no-print { display: none !important; }
    body { background-color: white !important; }
    .print-border { border-color: #000 !important; }
    .print-shadow { box-shadow: none !important; border: 1px solid #e5e7eb !important; }
}