body { font-family: 'Open Sans', sans-serif; }

@media print {
    /* Wajib agar background color (Tailwind) tidak diubah jadi putih semua oleh browser */
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .no-print { display: none !important; }
    
    /* Supaya di kertas tepiannya tidak memiliki shadow melainkan border asli */
    .print-border { border-color: #000 !important; border-width: 1px !important; }
    .print-shadow { box-shadow: none !important; }
    
    /* Paksa modal sembunyi saat di print */
    #buktiModal { display: none !important; }
}